*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: $black;
  @include source-sans;
}

::selection {
  color: $white;
  background-color: $zinfandel;
}

::-moz-selection {
  color: $white;
  background-color: $zinfandel;
}
