.header {
  margin-bottom: 44px;
  color: $white;
  background-color: $main;
  padding: 11px 0;
  text-align: center;

  a {
    text-decoration: none;
  }

  h1 {
    font-size: 28px;
    line-height: 44px;

    .gibbon {
      @include ubuntu-bold;
    }

    .cms {
      @include ubuntu-light;
    }
  }
}
