.navigation {
  margin-bottom: 44px;
  @include breakpoint(tn) {
    padding-top: 44px;
  }

  a {
    text-decoration: none;
  }

  &__block {
    margin-bottom: 22px;
  }

  &__title {
    color: $gray;
    text-transform: uppercase;
    display: block;
    padding-bottom: 11px;
    border-bottom: 1px solid $gray-light;
    margin-bottom: 10px;
    @include source-sans-bold;
  }

  .active {
    color: $zinfandel;
    @include source-sans-bold;
  }
}
